In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
tent = pd.read_csv("Travel.csv")
tent.shape

(4888, 20)

In [3]:
tent['totalvistitng'] = tent['NumberOfPersonVisiting'] + tent [ 'NumberOfChildrenVisiting']

In [6]:
tent.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,...,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,totalvistitng
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,...,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,...,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,...,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,...,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,...,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [7]:
tent.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,...,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,totalvistitng
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,...,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0,3.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,...,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,...,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0,3.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,...,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0,3.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,...,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0,2.0

In [8]:
tent.describe()

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome,totalvistitng
count,4888.000000,4888.000000,4662.000000,4888.000000,4637.000000,4888.000000,4843.000000,4862.000000,4748.000000,4888.000000,4888.000000,4888.000000,4822.000000,4655.000000,4822.000000
mean,202443.500000,0.188216,37.622265,1.654255,15.490835,2.905074,3.708445,3.581037,3.236521,0.290917,3.078151,0.620295,1.187267,23619.853491,4.090004
std,1411.188388,0.390925,9.316387,0.916583,8.519643,0.724891,1.002509,0.798009,1.849019,0.454232,1.365792,0.485363,0.857861,5380.698361,1.422326
min,200000.000000,0.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000,1.000000
25%,201221.750000,0.000000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20346.000000,3.000000
50%,202443.500000,0.000000,36.000000,1.000000,13.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22347.000000,4.000000
75%,203665.250000,0.000000,44.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25571.000000,5.000000
max,204887.000000,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,98678.000000,7.000000

In [4]:
tent.drop('CustomerID',inplace =True,axis =1)

In [5]:
tent.isnull().sum()

ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
totalvistitng                66
dtype: int64

In [6]:
tent.select_dtypes(exclude = 'object').describe()

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,MonthlyIncome,totalvistitng
count,4888.000000,4662.000000,4888.000000,4637.000000,4888.000000,4843.000000,4862.000000,4748.000000,4888.000000,4888.000000,4888.000000,4822.000000,4655.000000,4822.000000
mean,0.188216,37.622265,1.654255,15.490835,2.905074,3.708445,3.581037,3.236521,0.290917,3.078151,0.620295,1.187267,23619.853491,4.090004
std,0.390925,9.316387,0.916583,8.519643,0.724891,1.002509,0.798009,1.849019,0.454232,1.365792,0.485363,0.857861,5380.698361,1.422326
min,0.000000,18.000000,1.000000,5.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1000.000000,1.000000
25%,0.000000,31.000000,1.000000,9.000000,2.000000,3.000000,3.000000,2.000000,0.000000,2.000000,0.000000,1.000000,20346.000000,3.000000
50%,0.000000,36.000000,1.000000,13.000000,3.000000,4.000000,3.000000,3.000000,0.000000,3.000000,1.000000,1.000000,22347.000000,4.000000
75%,0.000000,44.000000,3.000000,20.000000,3.000000,4.000000,4.000000,4.000000,1.000000,4.000000,1.000000,2.000000,25571.000000,5.000000
max,1.000000,61.000000,3.000000,127.000000,5.000000,6.000000,5.000000,22.000000,1.000000,5.000000,1.000000,3.000000,98678.000000,7.000000

In [7]:
tent.Age.fillna(tent.Age.mode()[0],inplace =True)
tent.DurationOfPitch.fillna(tent.DurationOfPitch.median(),inplace =True)
tent.NumberOfFollowups.fillna(tent.NumberOfFollowups.mode()[0],inplace =True)
tent.NumberOfTrips.fillna(tent.NumberOfTrips.median(),inplace =True)
tent.MonthlyIncome.fillna(tent.MonthlyIncome.median(),inplace=True)
tent.totalvistitng.fillna(tent.totalvistitng.median(),inplace=True)
tent.NumberOfChildrenVisiting.fillna(tent.NumberOfChildrenVisiting.median(),inplace=True)
tent.PreferredPropertyStar.fillna(tent.PreferredPropertyStar.mode()[0],inplace=True)
tent.TypeofContact.fillna(tent.TypeofContact.mode()[0],inplace=True)

In [8]:
tent.isnull().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
totalvistitng               0
dtype: int64

In [9]:
X = tent.drop('ProdTaken',axis = 1)
y = tent['ProdTaken']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 1)

In [16]:
X_train

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,totalvistitng
840,35.0,Self Enquiry,1,6.0,Small Business,Male,2,4.0,Basic,3.0,Divorced,7.0,0,2,1,1.0,Executive,17258.0,3.0
4753,43.0,Self Enquiry,3,11.0,Small Business,Male,3,4.0,Deluxe,5.0,Unmarried,2.0,0,5,1,1.0,Manager,23833.0,4.0
275,37.0,Company Invited,1,6.0,Small Business,Female,1,3.0,Standard,3.0,Married,3.0,1,3,0,0.0,Senior Manager,28603.0,1.0
1,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0,5.0
3588,32.0,Company Invited,3,9.0,Salaried,Male,3,4.0,Deluxe,5.0,Unmarried,2.0,0,1,0,1.0,Manager,24010.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,43.0,Self Enquiry,1,31.0,Small Business,Male,3,4.0,Standard,5.0,Divorced,3.0,1,2,1,2.0,Senior Manager,26084.0,5.0
2763,33.0,Self Enquiry,3,15.0,Large Business,Female,4,5.0,Deluxe,4.0,Divorced,3.0,1,2,1,1.0,Manager,23906.0,5.0
905,29.0,Self Enquiry,1,6.0,Salaried,Female,2,4.0,Super Deluxe,3.0,Married,4.0,0,2,0,1.0,AVP,31124.0,3.0
3980,37.0,Company Invited,1,18.0,Salaried,Male,4,5.0,Deluxe,4.0,Unmarried,3.0,0,4,1,2.0,Manager,25177.0,6.0
235,43.0,Self Enquiry,3,22.0,Small Business,Female,3,3.0,Super Deluxe,3.0,Divorced,6.0,1,3,0,1.0,AVP,31064.0,4.0

In [11]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [17]:
X_test

,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome,totalvistitng
3015,27.0,Company Invited,1,7.0,Salaried,Female,4,6.0,Basic,3.0,Married,5.0,0,4,1,3.0,Executive,23042.0,7.0
1242,40.0,Self Enquiry,3,13.0,Small Business,Male,2,3.0,King,4.0,Single,2.0,0,4,1,1.0,VP,34833.0,4.0
3073,29.0,Self Enquiry,2,15.0,Small Business,Male,4,5.0,Basic,3.0,Married,3.0,0,2,0,2.0,Executive,23614.0,6.0
804,48.0,Company Invited,1,6.0,Small Business,Male,2,1.0,Super Deluxe,3.0,Single,3.0,0,2,0,0.0,AVP,31885.0,2.0
3339,32.0,Self Enquiry,1,18.0,Small Business,Male,4,4.0,Deluxe,5.0,Divorced,3.0,1,2,0,3.0,Manager,25511.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,31.0,Self Enquiry,1,13.0,Salaried,Male,2,3.0,Deluxe,3.0,Married,4.0,0,3,1,0.0,Manager,20915.0,2.0
2565,34.0,Company Invited,3,29.0,Small Business,Male,4,4.0,Deluxe,4.0,Divorced,2.0,0,2,0,2.0,Manager,24824.0,6.0
3928,29.0,Self Enquiry,1,31.0,Salaried,Male,3,5.0,Basic,3.0,Single,7.0,1,1,0,1.0,Executive,20706.0,4.0
1156,40.0,Self Enquiry,1,21.0,Salaried,Female,3,4.0,Standard,3.0,Married,2.0,0,1,1,1.0,Senior Manager,25435.0,4.0
2458,29.0,Self Enquiry,1,31.0,Salaried,Male,3,5.0,Basic,3.0,Single,7.0,1,2,0,1.0,Executive,20706.0,4.0

In [12]:
non_numeric = X.select_dtypes(include = 'object').columns
numeric = X.select_dtypes(exclude = 'object').columns
onehotencoder= OneHotEncoder(drop='first')
standardscaler = StandardScaler()
preprocessor  = ColumnTransformer(
    [
        ('OneHotEncoder' , onehotencoder,non_numeric),
        ('StandardScaler', standardscaler,numeric)
    ]
)

In [13]:
X_train=preprocessor.fit_transform(X_train)

In [14]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-1.241114,0.284408,-0.728783,2.051570,-0.63676,-0.790926,0.774914,-0.214234,-1.179519,-0.768550
1,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.135554,0.284408,1.773009,-0.667998,-0.63676,1.400278,0.774914,-0.214234,0.060462,-0.057805
2,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,-2.617782,-0.715624,-0.728783,-0.124085,1.57045,-0.060524,-1.290466,-1.394030,0.960037,-2.190041
3,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.135554,0.284408,0.522113,-0.667998,-0.63676,-0.060524,0.774914,0.965562,-0.637888,0.652941
4,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.135554,0.284408,1.773009,-0.667998,-0.63676,-1.521327,-1.290466,-0.214234,0.093842,-0.057805
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.135554,0.284408,1.773009,-0.124085,1.57045,-0.790926,0.774914,0.965562,0.484978,0.652941
3906,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.512222,1.284440,0.522113,-0.124085,1.57045,-0.790926,0.774914,-0.214234,0.074229,0.652941
3907,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-1.241114,0.284408,-0.728783,0.419829,-0.63676,-0.790926,-1.290466,-0.214234,1.435473,-0.768550
3908,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.512222,1.284440,0.522113,-0.124085,-0.63676,0.669877,0.774914,0.965562,0.313927,1.363686
3909,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.135554,-0.715624,-0.728783,1.507657,1.57045,-0.060524,-1.290466,-0.214234,1.424157,-0.057805

In [15]:
X_test=preprocessor.transform(X_test)

In [16]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.512222,2.284472,-0.728783,0.963743,-0.63676,0.669877,0.774914,2.145357,-0.088713,2.074431
1,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,-1.241114,-0.715624,0.522113,-0.667998,-0.63676,0.669877,0.774914,-0.214234,2.134954,-0.057805
2,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.512222,1.284440,-0.728783,-0.124085,-0.63676,-0.790926,-1.290466,0.965562,0.019160,1.363686
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,-1.241114,-2.715688,-0.728783,-0.124085,-0.63676,-0.790926,-1.290466,-1.394030,1.578990,-1.479296
4,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.512222,0.284408,1.773009,-0.124085,1.57045,-0.790926,-1.290466,2.145357,0.376916,2.074431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,-1.241114,-0.715624,-0.728783,0.419829,-0.63676,-0.060524,0.774914,-1.394030,-0.489844,-1.479296
974,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.512222,0.284408,0.522113,-0.667998,-0.63676,-0.790926,-1.290466,0.965562,0.247355,1.363686
975,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.135554,1.284440,-0.728783,2.051570,1.57045,-1.521327,-1.290466,-0.214234,-0.529260,-0.057805
976,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.135554,0.284408,-0.728783,-0.667998,-0.63676,-1.521327,0.774914,-0.214234,0.362583,-0.057805
977,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.135554,1.284440,-0.728783,2.051570,1.57045,-0.790926,-1.290466,-0.214234,-0.529260,-0.057805

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [18]:
model = {
    'random'  :RandomForestClassifier(),
    'gre'  :GradientBoostingClassifier(),
    'decision' :DecisionTreeClassifier(),
   
}
for i in range(len(list(model))):
    models = list(model.values())[i]
    models.fit(X_train,y_train)

In [20]:
predict = models.predict(X_test)

In [25]:
pf = pd.Series( predict,index = range(len(y_test)))
pg = pd.DataFrame({"predictions ":predict,"actual_values":y_test})
pg

      predictions   actual_values
3015             0              0
1242             0              0
3073             0              0
804              0              0
3339             0              0
...            ...            ...
58               0              0
2565             0              0
3928             1              1
1156             0              0
2458             1              1

[978 rows x 2 columns]

In [27]:
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay

In [29]:
accuracy_score(predict,y_test)

0.9141104294478528

In [31]:
kk =classification_report(predict,y_test)
print(kk)

              precision    recall  f1-score   support

           0       0.96      0.94      0.95       797
           1       0.75      0.81      0.78       181

    accuracy                           0.91       978
   macro avg       0.85      0.87      0.86       978
weighted avg       0.92      0.91      0.92       978